@model MyMarket.Models.Produto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Produto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nomeProduto" class="control-label">Nome do produto</label>
                <input asp-for="nomeProduto" class="form-control" />
                <span asp-validation-for="nomeProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="estoqueAtual" class="control-label">Estoque</label>
                <input asp-for="estoqueAtual" class="form-control" />
                <span asp-validation-for="estoqueAtual" class="text-danger"></span>
            </div>
           <div class="card-body md-3" style="border-color:darkgoldenrod">
                <select  asp-items=@ViewBag.categoria1 nome="nomecategoria" asp-for="categoriaid"
                class="form-control"> <option value="0">selecione a categoria</option> </select>
            </div>
            <div class="form-group">
                <label asp-for="valorVenda" class="control-label">Valor de venda</label>
                <input asp-for="valorVenda" class="form-control" />
                <span asp-validation-for="valorVenda" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="arquivo" class="control-label">Imagem</label>
                <input asp-for="arquivo" type="file" class="form-control"/>
                <span asp-validation-for="arquivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
