@model MyMarket.Models.Produto

@{
    ViewData["Title"] = "Create";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyMarket</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyMarket.styles.css" asp-append-version="true" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Adicionar Produto</h1>


    <div class="container">
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-6">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="nomeProduto" class="control-label">Nome do produto</label>
                        <input asp-for="nomeProduto" class="form-control" />
                        <span asp-validation-for="nomeProduto" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="valorVenda" class="control-label">Valor de venda</label>
                        <input asp-for="valorVenda" class="form-control" />
                        <span asp-validation-for="valorVenda" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="nomeProduto" class="control-label">Nome do produto</label>
                        <input asp-for="nomeProduto" class="form-control" />
                        <span asp-validation-for="nomeProduto" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="valorVenda" class="control-label">Valor de venda</label>
                        <input asp-for="valorVenda" class="form-control" />
                        <span asp-validation-for="valorVenda" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="estoque" class="control-label">Estoque</label>
                        <input asp-for="estoque" class="form-control" />
                        <span asp-validation-for="estoque" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="categoriaid" class="control-label">Categoria</label>
                        @*HtmlHelpers*@
                        @*<text>Local</text> @Html.DropDownList("Categoria", new SelectList(ViewBag.Categoria))*@
                        @*Razor*@
                        <select asp-items=@ViewBag.Categoria2 asp-for="categoriaid" class="form-control"></select>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="valorVenda" class="control-label">Valor de venda</label>
                        <input asp-for="valorVenda" class="form-control" />
                        <span asp-validation-for="valorVenda" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="estoque" class="control-label">estoque</label>
                        <input asp-for="estoque" class="form-control" />
                        <span asp-validation-for="estoque" class="text-danger"></span>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="valorVenda" class="control-label">Valor de venda</label>
                        <input asp-for="valorVenda" class="form-control" />
                        <span asp-validation-for="valorVenda" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="arquivo" class="control-label">Imagem</label>
                        <input asp-for="arquivo" type="file" class="form-control" />
                        <span asp-validation-for="arquivo" class="text-danger"></span>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <a asp-action="Index">Back to List</a>
</div>
 <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
<div id="modal" class="modal fade" role="dialog" />

