@model LoginUsuario

<form asp-controller="Login" asp-action="Create" method="post">
    
        <h1 id="text-usuario"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg>Cadastro</h1>
            <div class="form-group">

<div class="txtlogin">
  <h3>Login</h3>
  </div>
    <div id="container-login">
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <label >E-mail:</label>
                    <input type="text" class="form-control" asp-for="email"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <label >Senha:</label>
                    <input type="password" class="form-control" asp-for="senha"/>
                </div>
            </div>
        </div>
          <router-link  class="btn btn-link" id="btn-novo" to="/usuario">Quero me cadastrar</router-link>
        <router-link  class="btn btn-link" id="btn-esqueceu" to="/esqueceu">Esqueci a senha</router-link>
        <div class="form-group">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                    <button type="button" class="btn btn-warning btn-outline-primary" id="ovBTN_login">Entrar</button>
                </div>
            </div>
 @if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}
            </div>
        </div>
    </div>
    
</form>
